<div class="flex items-center gap">
  <%= link_to "#", class: "flex items-center gap mie-2" do %>
    <span class="font-bold"><%= t("header") %></span> | <%= t("subheading") %>
  <% end %>

  <nav class="flex items-center gap text-sm text-subtle show@md" style="--column-gap: 1rem">
    <%= link_to "Home", "#", class: "text-primary" %>
    <%= link_to "About", "#" %>
    <%= link_to "Blog", "#" %>
    <%= link_to "Projects", "#" %>
    <%= link_to "Contact", "#" %>
  </nav>
</div>

<div class="flex items-center gap">
  <button type="button" class="btn avatar">
    <%= image_tag "dandaly.jpeg", size: 48, alt: "CN" %>
  </button>
</div>